600 MENUEX MOVEABLE IMPURE LOADONCALL DISCARDABLE
BEGIN
	POPUP "&Menu ", , , 0
	BEGIN
		MENUITEM "&Nowa Gra", 500
		MENUITEM "&Wyjscie", 1000
	END
	POPUP "&Pomoc", , , 0
	BEGIN
		MENUITEM "&Autor", 1900
	END
END
